:root {
    /*colours*/
    --fonts: #000000;
    --bars: #3a3a3a;
    --bg: white;
    --bars2: #c4c4c4;
    --attention: #93032e;
    /*fonts*/

}
body {
    color: var(--fonts);
    background-color: var(--bg);
    text-align: center;
}
.topbar {
    background-color: var(--bars2);
    display: grid;
    grid-template-columns: 2fr 4fr 0.5fr 1.5fr;
    align-content: center;
    padding-top: 1em;
}
a {
    text-decoration: none;
    color: var(--txt);
}
.logo {
    width: 10vh;
    justify-self: right;
    padding: 0.5em;
}
.menubtn {
    visibility: hidden;
    height: 0px;
}
.dropdownmenu {
    justify-self: center;
    padding:0.5em;
}
.menu-content ul> li {
    display: inline-block;
    padding: 1em;
}
.srch {
    justify-self: right;
    align-self: center;
    padding-right: 0.5em;
}
.cart {
    justify-self: left;
    align-self: center;
    padding-left:0.5em;
}
button:hover {
    background-color: var(--bars2);
}
.sort {
    grid-area: b;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}
.sort-content {
    text-align: right;
}
.filters {
    grid-area: a;
}
.filters> div {
    padding: 1em;
}
.container {
    grid-area: c;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
}
.sale {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 
    "a b b"
    "a c c"
    "a c c";
}
.box {
    padding: 2.5em;
}
img {
    border-radius: 15%;
    width: 40%;
}
del {
    color: var(--attention);
}



/*PRODUCTS*/
.check {
    width: 30%;
    padding: 0.25em;
}
.fave a{
    margin-top: 3em;;
}


/* FOOTERS */

footer {
    text-align: center;
    color: var(--fonts);
}
.flip {
    background-color: var(--bars2);
    margin-top: 9em;
}
.flip> .pribado> ul> li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 2em;
}
.flip> .pribado> ul>li a {
    color: var(--tres);
    font-family: var(--body);
    text-decoration: none;
    font-weight: bold;
}
.nxt {
    border-radius: 10%;
    padding:0.5em;
}
.pages {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 7em;
}
.flip> .sosyal> ul> li {
    list-style: none;
    display: inline-block;
    text-align: center;
}
.flip> .sosyal> ul> li {
    margin: 2em;
}
footer> .pages> ul> li {
    color: var(--tres);
}
.pages> ul {
    text-align: right;
    list-style: none;
    text-align: center;
}
.pages> ul> li {
    display: inline-block;
    padding: 1em;
}
.pages> ul> li a {
    color: var(--tres);
    font-family: var(--body);
    text-decoration: none;
}
.subs {
    padding: 1em;
}
.subs> input, .subscribe {
    padding:0.5em;
    border-radius: 5%;
}































/*
.dropdownmenu {
    position: relative;
    display: inline-block;
  }
.menu-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: var(--quat);
}
.menu-content ul {
    padding: 12px 16px;
    list-style: none;
    display: block;
}
.menu-content ul:hover {
    background-color: none;
}
.dropdownmenu:hover .menu-content {
    display: block;
}
.dropdownmenu:hover .menubtn {
    background-color: var(--dos);
}
.dropdownmenu> .menu-content ul> li> .lifestyle li {
    list-style: none;
    overflow: hidden; 
    height: 0; 
    background-color: none; 
    transition: height 0.3s;
}
.dropdownmenu> .menu-content ul> li:hover> .lifestyle li {
    height:20px; 
    background-color: none; 
    color: var(--dos);
    display: block;
}
*/