:root {
    /*colours*/
    --fonts: #000000;
    --bars: #3a3a3a;
    --bg: white;
    --bars2: #c4c4c4;
    --attention: #93032e;
    /*fonts*/

}
body {
    color: var(--fonts);
    background-color: var(--bg);
    text-align: center;
}
.topbar {
    background-color: var(--bars2);
    display: grid;
    grid-template-columns: 2fr 4fr 0.5fr 1.5fr;
    align-content: center;
}
a {
    text-decoration: none;
    color: var(--txt);
}
.corduroy {
    width: 15vh;
}
.logo {
    justify-self: right;
    padding: 0.5em;
    margin-top: 1em;
}
.srch {
    width: 100%;
    margin-top: 1.5em;
}
.menubtn {
    visibility: hidden;
    height: 0px;
}
.menu-content ul> li {
    display: inline-block;
    margin-top: 1em;;
    padding: 1em;
}
.cart {
    justify-self: left;
    padding-left:0.5em;
    margin-top:3em;
}
button:hover {
    background-color: var(--bars2);
}
.sort {
    grid-area: b;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}
.sort-content {
    text-align: right;
}
.category {
    margin-bottom: 2em;
}
.filters {
    grid-area: a;
    text-align: left;
    padding-right: 1.5em;
}
.filters> div {
    padding: 0.3em;
}
.filters> div> ul li {
    padding: 0.3em;
}
select option {
    width: 100%;
}
hr {
    width: 60%;;
}
.container {
    grid-area: c;
}
.sale {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas: 
    "a b b"
    "a c c"
    "a c c";
}
.box {
    padding: 1em;
}
img {
    border-radius: 15%;
    width: 40%;
}
del {
    color: var(--attention);
}
h1 {
    text-align: left;
    margin-left: 2em;;
}



/*PRODUCTS*/
.check {
    width: 50%;
    padding: 0.25em;
}
.fave a{
    margin-top: 3em;;
}
.container {
    display: grid;
    grid-gap: 2em;
}
.grid-view {
    grid-template-columns: 1fr  1fr 1fr;
}
.grid-view img {
    width: 100%;
}
ins {
    text-decoration: none;
}



/* FOOTERS */

footer {
    text-align: center;
    color: var(--fonts);
}
.flip {
    background-color: var(--bars2);
    margin-top: 9em;
}
.flip> .pribado> ul> li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 2em;
}
.flip> .pribado> ul>li a {
    color: var(--tres);
    font-family: var(--body);
    text-decoration: none;
    font-weight: bold;
}
.nxt {
    border-radius: 10%;
    padding:0.5em;
}
.pages {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 7em;
}
.flip> .sosyal> ul> li {
    list-style: none;
    display: inline-block;
    text-align: center;
}
.flip> .sosyal> ul> li {
    margin: 2em;
}
footer> .pages> ul> li {
    color: var(--tres);
}
.pages> ul {
    text-align: right;
    list-style: none;
    text-align: center;
}
.pages> ul> li {
    display: inline-block;
    padding: 1em;
}
.pages> ul> li a {
    color: var(--tres);
    font-family: var(--body);
    text-decoration: none;
}
.subs {
    padding: 1em;
}
.subs> input, .subscribe {
    padding:0.5em;
    border-radius: 5%;
}